html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}
.flex {
  display: flex;
}

.vertical {
  display: flex;
  flex-direction: column;
}

.vertical-fill {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.horizontal {
  display: flex;
  flex-direction: row;
}

.none {
  flex: none;
}

.one {
  flex: 1;
}
