@import '~sass-rem';

.phone__content {
  padding: rem(20px);
  width: 100%;
  box-sizing: border-box;
  font-size: rem(16px);
  transition-property: transform;
  transition-duration: 0.3s;
  transform: perspective(1px) translateZ(0);
  cursor: pointer;
  box-shadow: rem(4px 4px 15px 1px rgba(112,112,112,0.29));
}

.phone__content:hover {
  transform: scale(1.05);
}

.phone__img {
  width: rem(170px);
}

.phone__img__container {
  text-align: center;
}

.phone__feature__list {
  list-style: none;
  padding: 0;
}

.phone__feature {
  font-weight: bold;
}
