<div class="vertical phone__content">
  <div class="phone__img__container">
    <img [src]="phone.image" class="phone__img" alt="{{phone.brand}}-image">
  </div>
  <div>
    {{phone.brand}} {{phone.model}}
  </div>
  <div>
    {{phone.description}}
  </div>
  <ul class="phone__feature__list">
    <li>
      <span class="phone__feature">Price </span>{{phone.price}}
    </li>
    <li>
      <span class="phone__feature">Color </span>{{phone.color}}
    </li>
    <li>
      <span class="phone__feature">Screen </span>{{phone.screen}}
    </li>
    <li>
      <span class="phone__feature">Battery </span>{{phone.battery}}
    </li>
  </ul>

</div>
